html, body {
  height: 100%;
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}



p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

.site-header {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.85rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(96, 193, 125, 0.08), rgba(96, 193, 125, 0.02));
}

.post-description {
  margin: 0.4em 0 0.9em;
  line-height: 1.4;
}

.site-content {
  margin-top: 0.9rem;
  padding-top: 1.1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.top-nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4rem 0.9rem;
  align-items: center;
  white-space: nowrap;
}

.top-nav a {
  margin-right: 0;
}

@media (prefers-color-scheme: dark) {
  .site-header {
    border-color: rgba(255, 255, 255, 0.14);
    background: linear-gradient(180deg, rgba(96, 193, 125, 0.1), rgba(96, 193, 125, 0.03));
  }

  .site-content {
    border-top-color: rgba(255, 255, 255, 0.22);
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://is.gd/WuJxqy */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }

@include media-query($on-palm) {
  .top-nav {
    white-space: normal;
    flex-wrap: wrap;
    overflow-x: visible;
  }
}

/* Multigrid book page cover placement */
.mgbook-cover {
  float: right;
  width: 260px;
  max-width: 40%;
  margin: 0 0 1rem 1.2rem;
  text-align: center;
}

.mgbook-cover img {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  display: block;
}

.mgbook-cover p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

@include media-query($on-palm) {
  .mgbook-cover {
    float: none;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 1rem auto;
  }
}
